.modal {

  &-backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    inset: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    flex-direction: column;

    @at-root .theme-karmatha {
      & {
        background-color: transparent;
      }

      /** This is because we cant select previous siblings */
      body > div {
        filter: blur(4px);
      }

      body div:last-of-type, .modal-backdrop {
        filter: none;
      }
    }
  }

  &-body {
    width: 100%;
    max-width: 24rem;
    min-height: 12rem;
    padding: 1rem 0.2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #242424;
    border-radius: 0.5rem;

    @media (prefers-color-scheme: light) {
      background-color: hsl(0, 0%, 96%);
    }

    > * {
      // place for the scrollbar
      padding-right: 0.8rem;
    }
  }


  &-content {
    flex: 1;
    text-align: center;
    height: 100%;
    overflow: auto;
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

}

