.modal {

  &-backdrop {
    background: rgba(0, 0, 0, 0.75);
    inset: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-body {
    width: 100%;
    max-width: 24rem;
    min-height: 12rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #242424;
    border-radius: 0.5rem;
  }

  &-content {
    flex: 1;
  }

  &-footer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
}

