.top-bar {
  display: flex;
  gap: 0.25rem;
  align-items: flex-start;

  .level-selector {
    margin: 0 0 0.25rem 0rem;
    width: 0;
    flex: 1;
    height: 2rem;
    border: 1px solid #242424;

    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    padding-left: 0.5rem;

    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 4px;

    @media (prefers-color-scheme: light) {
      border: 1px solid #e6e6e6;
      background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");

    }
  }

  .button-info {
    font-size: 12.5px;
  }
}
