.object {
  transition: transform 0.25s ease; // movement speed
  transform: translate(var(--x), var(--y));


  &--type-player {
    #body {
      transition: transform 0.1s ease; // rotating goes faster than moving
      transform-box: fill-box;
      transform-origin: 157px 213px;
    }

    #arms {
      transition-delay: 0.2s;
    }

    #arms-pushing {
      opacity: 0;
      transition-delay: 0.2s;
    }

    &.object--at-box {
      #arms {
        opacity: 0;
      }

      #arms-pushing {
        opacity: 1;
        transition-delay: 0;
      }
    }

    &:not(.object--at-box) {
    }
  }

  &--keydown {
    #body {
      transition-timing-function: linear;
    }
  }


  &--anim-walk {
    #foot_1_ {
      animation: 0.25s linear 0s infinite alternate feet-walk;
    }
    #foot_2_ {
      animation: 0.25s linear 0.25s infinite alternate feet-walk;
    }

    #arms {
      #arm-right {
        animation: 0.25s linear 0.25s infinite alternate feet-walk;
      }
      #arms-left {
        animation: 0.25s linear 0s infinite alternate feet-walk;
      }
    }
    @keyframes feet-walk {
      from {
        transform: translateX(-20px);
      }

      to {
        transform: translateX(10px);
      }
    }
  }

  &--direction {
    &-south {
      #body {
        transform: rotate(90deg);
      }
    }
    &-west {
      #body {
        transform: rotate(180deg);
      }
    }
    &-north {
      #body {
        transform: rotate(-90deg);
      }
    }
  }

}
